<div class="createBug">
  <form>
    <label for="bugName">Bug Name</label>
    <input type="text" id="bugName" />
    <br />

    <label for="projectId">Select Project</label>
    <br />
    <select id="projectId">
      <option></option>
    </select>
    <br />

    <label for="assignUser">Assign to user:</label>
    <br />
    <select id="assignUser">
      <option></option>
    </select>

    <br />
    <label for="bugDescription">Bug Description</label>
    <br />
    <textarea id="bugDescription" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit" class="btn btn-submit" />
  </form>
</div>
