<div class="details" >
  <table>
    <tr>
      <td>Bug Name:</td>
      <td>asda</td>
    </tr>
    <tr>
      <td>Project:</td>
      <td>asd</td>
    </tr>
    <tr>
      <td>Date of Creation:</td>
      <td>asd</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>asd</td>
    </tr>
    <tr>
      <td>Assignee:</td>
      <td>asd</td>
    </tr>
    <tr>
      <td>Bug Status:</td>
      <td>asd</td>
    </tr>
  </table>
</div>

<form class="change-status">
  <input type="hidden" name="bugId" />  

  <select id="status" name="status">
    <option value="UNRESOLVED">UNRESOLVED</option>
    <option value="UNDER_TESTING">UNDER TESTING</option>
    <option value="RESOLVED">RESOLVED</option>
  </select>

  <button class="btn btn-bug" type="submit">Update Status</button>
</form> 


<app-comment-list></app-comment-list>
